@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --black: #212121;
    --black-secondary: #252525;
    --white: #f0f5f9;
    --primary: #323232;
    --secondary: #364f6b;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
}

select {
    margin: 1rem 0;
    width: 100%;
    max-width: 50%;
    border-radius: 2px;
    transition: all .2s ease;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
}

select:hover {
    border: 1px solid var(--black);
}

select {
    padding: 0.5rem;
}

button {
    padding: 0.6rem 1rem;
    margin: 1rem 0;
    background-color: var(--black);
    color: var(--white);
    border-radius: 2px;
    border: none;
    transition: all .2s ease;
}

button:hover {
    background: var(--black-secondary);
}

button:focus {
    outline: 0;
}

button:active {
    transform: scale(.99);
}

input {
    padding: 0.6rem;
    background-color: var(--black);
    color: var(--white);
    border: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.col {
    flex: 1;
}

.center,
.right {
    align-items: center;
    display: flex;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu {
    padding-left: 2em;
    padding-right: 2em;
    background-color: var(--secondary);
}

.scale-up {
    position: absolute;
    right: 0;
    top: 0;
}

.hide {
    display: none;
}

#timetable-image {
    width: 100%;
    animation-name: fadein;
    animation-duration: 2s;
}

#save,
#previous,
#today,
#week,
#calendar {
    margin-left: 1em;
}

#next {
    margin-left: 0.5em;
}

#week {
    width: 40px;
}

#calendar {
    padding: 0.5rem;
    width: 9rem;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}
